{{ include('Frontend/layout/header.html.twig') }}
	
	<div class="container-fluid">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				Create Post :
			</li>
		</ol>

		{{ form_start(CreatePostform)}}

		{{ form_widget(CreatePostform) }}

		{{ form_end(CreatePostform) }}

	</div>

{{ include('Frontend/layout/footer.html.twig') }}