{{ include('Frontend/layout/header.html.twig') }}
	<h3>Create Post</h3>
	{{ form_start(CreatePostform)}}
	{{ form_widget(CreatePostform) }}
	{{ form_end(CreatePostform) }}

{{ include('Frontend/layout/footer.html.twig') }}