{{ include('Frontend/layout/header.html.twig') }}

{{ include('Frontend/layout/flash.html.twig') }}
	
	<h3>Update Post</h3>
	{{ form_start(UpdatePostform)}}
	{{ form_widget(UpdatePostform) }}
	{{ form_end(UpdatePostform) }}
	<a href="/post/show"><button type="button" class="btn btn-info" style="margin-top:5px;">Back</button></a>
	
{{ include('Frontend/layout/footer.html.twig') }}